/* Formato general */

body {
  font-family: sans-serif;
  margin: auto;
  background-color: rgb(27, 24, 27);
  color:#ffffff;
}
.contenedor{
  width: 80%;
  max-width: 1300px ;
  margin: 0 auto;
  overflow: hidden;
}
header{
  background-color: #ff9700;
  color:#0d346f;
  width: auto;
  max-width: 1200px;
  overflow:auto;
}
.caja{
  max-width: 1280px;
  align-content: center; 
}
article{
  font-size: 17px;
  text-align: justify;
  padding: 20px;
  margin: 15px;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
}
footer{
  clear: both;
  float: left;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  color:rgb(243, 240, 45);
  font-size: 13px;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 40px;
  padding: 5px;
}

h2{
  text-align: center;
  font-size: 30px;
}

h3{
  color: #f9c83d;
  text-align: center;
  font-size: 35px;
  margin: 40px;
}
.pperson{
    font-size: 17px;
    text-align: justify;
    padding: 0px;
    margin: 25px;
    align-items: center;
    overflow: hidden;
}
table{
  max-width: 1200px;
}


/* Navegación */
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: #ffa339;
  border-radius:50px;
}
::-webkit-scrollbar-thumb{
  background-color: #fe5000;
  border-radius: 50px;
}
.navbar {
  background-color: #0f3272;
  color: #ff9700;
  text-align: center;
  border-radius: 2px;
  max-width: 1200px;
  height: 55px;
  margin: 0 auto;
  overflow: hidden;
}
.navbar a {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  max-width: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.boton{
  width: 180px;
  font-size: 15px;
   height: 15px;
   border-radius: 40px;
   cursor: pointer;
   color:#ffe139;
   text-align: center;
}
.boton:hover{
  color: #a5fc05;
  height: 8px; 
}
.boton:active{
  background-color: rgba(81, 96, 226, 0.384);
  color:#ffffff;
  height:15px;
}
a{
  color:#ffe139;
}

/* imagenes */
.imgp{
  align-content: center;
  width:1100px;
  margin: 50px;
}
.imgheader{
  width: auto;
  max-width: 1200px;
  height: 350px;
}
.imagperson{
  margin: 5px;
  width: 350px;
  border-radius: 5px;
  box-align: center;
  float: middle;
  padding: 10px;
  margin-top: 50px;
}
.imagperson1{
  margin: 5px;
  width: 300px;
  border-radius: 35px;
  box-align: left;
  float:left;
  margin: 10px;
}
iframe{
  margin: 25px;
}